[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ModEstM"]
	path = ModEstM
	url = https://github.com/cran/ModEstM
[submodule "subrank"]
	path = subrank
	url = https://github.com/cran/subrank
